Repository antvis/XFlow, pull requests merged in 2021-11, with the labels that each got.

#9 perfect xflow docs
  AUTHORS
  CONTRIBUTING.zh-CN.md
  README.MD
  package.json
  packages/xflow-core/src/xflow-main/application.ts
  packages/xflow-core/src/xflow-main/graph/graph-provider.tsx
  packages/xflow-docs/docs/index.md
  packages/xflow-docs/docs/scene/dag/index.md
  packages/xflow-docs/docs/tutorial/core-components/xflow-component/index.md
  packages/xflow-docs/docs/tutorial/getting-started/demo/config-graph.tsx
  packages/xflow-docs/docs/tutorial/getting-started/demo/index.tsx
  packages/xflow-docs/docs/tutorial/getting-started/demo/menu-config.tsx
  packages/xflow-docs/docs/tutorial/getting-started/demo/react-node/node1.less
  packages/xflow-docs/docs/tutorial/getting-started/demo/react-node/node2.less
  packages/xflow-docs/docs/tutorial/getting-started/demo/service.ts
  packages/xflow-docs/docs/tutorial/getting-started/index.md
  packages/xflow-docs/docs/tutorial/solutions/er/demos/CreateRelationModal/index.tsx
Labels: size/XL, pkg:xflow-core, PR: unreviewed, needs-more-info, pkg:docs

#10 Docs: add styles for DAG solutions
  .yarnrc.yml
  packages/xflow-core/src/command-contributions/cmd-context.ts
  packages/xflow-core/src/command-contributions/command-contribution.ts
  packages/xflow-core/src/command/graph-command.ts
  packages/xflow-core/src/command/index.ts
  packages/xflow-core/src/command/interface.ts
  packages/xflow-core/src/index.tsx
  packages/xflow-core/src/model-service/constant.ts
  packages/xflow-core/src/model-service/contributions/command-model.ts
  packages/xflow-core/src/model-service/model-registry.ts
  packages/xflow-docs/.dumi/theme/builtins/useCodeSandbox.ts
  packages/xflow-docs/.umirc.ts
  packages/xflow-docs/docs/api/interface/graph.md
  packages/xflow-docs/docs/index.en-US.md
  packages/xflow-docs/docs/index.zh-CN.md
  packages/xflow-docs/docs/index.zh.md
  packages/xflow-docs/docs/tutorial/about/index.en-US.md
  packages/xflow-docs/docs/tutorial/about/index.zh-CN.md
  packages/xflow-docs/docs/tutorial/about/index.zh.md
  packages/xflow-docs/docs/tutorial/extension-components/canvas-config-form/demos/custom-shape/custom-shapes/custom-editor.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-config-form/demos/custom-shape/custom-shapes/index.tsx
  packages/xflow-docs/docs/tutorial/extension-components/context-menu/demos/basic/menu-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/context-menu/demos/custom-render/menu-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/context-menu/demos/hotkey/menu-config.tsx
  packages/xflow-docs/docs/tutorial/getting-started/index.en-US.md
  packages/xflow-docs/docs/tutorial/getting-started/index.zh-CN.md
  packages/xflow-docs/docs/tutorial/getting-started/index.zh.md
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/cmd-extensions/cmd-async-test.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-dnd-panel.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-form.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-graph.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-toolbar.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/constant.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/form-controls/custom-editor.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/form-controls/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/index.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/react-node/algo-node.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/react-node/algo-node.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/service.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/index.md
  packages/xflow-extension/src/canvas-dag-extension/constants.ts
  packages/xflow-extension/src/canvas-dag-extension/contributions/command.ts
  packages/xflow-extension/src/canvas-dag-extension/contributions/dag.tsx
  packages/xflow-extension/src/canvas-dag-extension/index.ts
  packages/xflow-extension/src/canvas-dag-extension/module.ts
  packages/xflow-extension/src/canvas-dag-extension/style/index.less
  packages/xflow-extension/src/canvas-dag-extension/x6-extension/node.ts
  packages/xflow-extension/src/index.tsx
  packages/xflow-extension/tsconfig.json
  packages/xflow/src/core/index.ts
  packages/xflow/src/extensions/index.ts
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, PR(documentation), size/XXL, pkg:xflow-extension, pkg:docs

#12 docs: 补充流程图组件文档
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-menu.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/index.md
Labels: PR: unreviewed, PR(documentation), size/L, pkg:docs

#13 docs: update about doc
  packages/xflow-docs/.dumi/theme/builtins/API.tsx
  packages/xflow-docs/.dumi/theme/builtins/Alert.less
  packages/xflow-docs/.dumi/theme/builtins/Alert.tsx
  packages/xflow-docs/.dumi/theme/builtins/Badge.less
  packages/xflow-docs/.dumi/theme/builtins/Badge.tsx
  packages/xflow-docs/.dumi/theme/builtins/Example.less
  packages/xflow-docs/.dumi/theme/builtins/Example.tsx
  packages/xflow-docs/.dumi/theme/builtins/SourceCode.less
  packages/xflow-docs/.dumi/theme/builtins/SourceCode.tsx
  packages/xflow-docs/.dumi/theme/builtins/useCodeSandbox.ts
  packages/xflow-docs/.dumi/theme/components/404/index.tsx
  packages/xflow-docs/.dumi/theme/components/Banner/Banner.module.less
  packages/xflow-docs/.dumi/theme/components/Banner/Notification.module.less
  packages/xflow-docs/.dumi/theme/components/Banner/Notification.tsx
  packages/xflow-docs/.dumi/theme/components/Banner/index.tsx
  packages/xflow-docs/.dumi/theme/components/Cases/Cases.module.less
  packages/xflow-docs/.dumi/theme/components/Cases/Cases.tsx
  packages/xflow-docs/.dumi/theme/components/Features/FeatureCard.module.less
  packages/xflow-docs/.dumi/theme/components/Features/FeatureCard.tsx
  packages/xflow-docs/.dumi/theme/components/Features/Features.module.less
  packages/xflow-docs/.dumi/theme/components/Features/index.tsx
  packages/xflow-docs/.dumi/theme/components/Footer/Footer.module.less
  packages/xflow-docs/.dumi/theme/components/Footer/index.tsx
  packages/xflow-docs/.dumi/theme/components/Header/Logo.tsx
  packages/xflow-docs/.dumi/theme/components/LocaleSelect.less
  packages/xflow-docs/.dumi/theme/components/LocaleSelect.tsx
  packages/xflow-docs/.dumi/theme/components/Navbar.less
  packages/xflow-docs/.dumi/theme/components/Navbar.tsx
  packages/xflow-docs/.dumi/theme/components/Products/Product.module.less
  packages/xflow-docs/.dumi/theme/components/Products/Product.tsx
  packages/xflow-docs/.dumi/theme/components/Products/getProducts.tsx
  packages/xflow-docs/.dumi/theme/components/Products/index.tsx
  packages/xflow-docs/.dumi/theme/components/SearchBar.less
  packages/xflow-docs/.dumi/theme/components/SearchBar.tsx
  packages/xflow-docs/.dumi/theme/components/SideMenu.less
  packages/xflow-docs/.dumi/theme/components/SideMenu.tsx
  packages/xflow-docs/.dumi/theme/components/SlugList.less
  packages/xflow-docs/.dumi/theme/components/SlugList.tsx
  packages/xflow-docs/.dumi/theme/components/mixins.less
  packages/xflow-docs/.dumi/theme/layout.bak.tsx
  packages/xflow-docs/.dumi/theme/layout.tsx
  packages/xflow-docs/.dumi/theme/style/layout.less
  packages/xflow-docs/.dumi/theme/style/markdown.less
  packages/xflow-docs/.dumi/theme/style/variables.less
  packages/xflow-docs/.dumi/theme/test/index.test.tsx
  packages/xflow-docs/.umirc.ts
  packages/xflow-docs/docs/index.en-US.md
  packages/xflow-docs/docs/index.zh-CN.md
  packages/xflow-docs/docs/index.zh.md
  packages/xflow-docs/docs/tutorial/about/index.en-US.md
  packages/xflow-docs/docs/tutorial/about/index.zh-CN.md
  packages/xflow-docs/docs/tutorial/about/index.zh.md
Labels: PR: unreviewed, needs-more-info, size/XXL, pkg:docs

#19 fix: remove less style
  packages/xflow-extension/src/flowchart-canvas/extension/components/index.tsx
  packages/xflow-extension/src/flowchart-canvas/index.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/canvas.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/group.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node.tsx
  packages/xflow-extension/src/flowchart-editor-panel/form-panel.tsx
  packages/xflow-extension/src/flowchart-node-panel/group-panel/group.tsx
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.ts
Labels: PR(fix), PR: unreviewed, size/S, pkg:xflow-extension

#20 fix: remove unnecessary hook deps to avoid endlesss loop
  .eslintrc.js
  package.json
  packages/xflow-core/.eslintrc.js
  packages/xflow-core/package.json
  packages/xflow-core/src/common/rx-model-hook.tsx
  packages/xflow-core/src/model-service/utils.tsx
  packages/xflow-docs/.umirc.ts
  packages/xflow-docs/docs/index.zh-CN.md
  packages/xflow-docs/docs/index.zh.md
  packages/xflow-docs/package.json
  packages/xflow-extension/.eslintrc.js
  packages/xflow-extension/package.json
  packages/xflow-extension/src/flowchart-canvas/utils/util.ts
  packages/xflow-extension/src/flowchart-editor-panel/form-wrapper.tsx
  packages/xflow-extension/src/flowchart-editor-panel/useAsync.ts
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-hook, pkg:xflow-extension, pkg:docs
