Repository antvis/XFlow, pull requests merged in 2021-12, with the labels that each got.

#22 添加内置绑定关系
  package.json
  packages/xflow-core/package.json
  packages/xflow-core/src/menu/interface.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/demos/custom/dnd-tree-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/index.md
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow-extension/src/canvas-node-tree-panel/interface.tsx
  packages/xflow-extension/src/canvas-node-tree-panel/panel-body.tsx
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, needs-more-info, size/M, pkg:xflow-hook, pkg:xflow-extension, pkg:docs, feature

#27 fix: upgrade antv/layout version
  package.json
  packages/xflow-core/package.json
  packages/xflow-core/src/command-contributions/graph/graph-layout.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/demos/custom/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/cmd-extensions/cmd-deploy.ts
  packages/xflow-docs/docs/tutorial/solutions/er/demos/index.tsx
  packages/xflow-docs/package.json
  packages/xflow-extension/src/canvas-node-tree-panel/panel-body.tsx
  packages/xflow/package.json
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-extension, pkg:docs

#29 Fix/menu interface
  package.json
  packages/xflow-core/package.json
  packages/xflow-core/src/menu/interface.ts
  packages/xflow-docs/docs/tutorial/extension-components/context-menu/demos/custom-render/menu-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/context-menu/demos/dynamic-config/menu-config.tsx
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#31 fix: upgrade antv/layout version
  package.json
  packages/xflow-core/package.json
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#33 fix: 修复color-picker render 产生的 warning
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/color.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/style.less
Labels: PR(fix), PR: unreviewed, size/M, pkg:xflow-extension

#34 fix: 修改临时边名称避免和demo冲突
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
Labels: PR(fix), PR: unreviewed, size/XS, pkg:xflow-extension

#35 feat: 使用 createPortal
  packages/xflow-extension/src/flowchart-canvas/utils/events.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/color.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/style.less
Labels: PR(fix), PR: unreviewed, size/M, pkg:xflow-extension

#40 fix: prototype pollution in immer Close:#30
  packages/xflow-core/package.json
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, pkg:xflow-hook, size/S, pkg:xflow-extension, pkg:docs

#48 add node dnd panel without antd dependencies
  packages/xflow-core/src/command-contributions/node/node-move.ts
  packages/xflow-core/src/common/utils.ts
  packages/xflow-core/src/index.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/comannd-utils.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/dnd-panel-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/graph-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/index.less
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/index.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/basic/mock.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/comannd-utils.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/dnd-panel-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/graph-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/index.less
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/index.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/custom/mock.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/comannd-utils.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/dnd-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/graph-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/index.less
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/index.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/demos/search/mock.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-collapse-panel/index.md
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/demos/basic/dnd-tree-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/demos/custom/dnd-tree-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/demos/search/dnd-tree-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-node-panel/index.md
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-dnd-panel.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/index.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/index.tsx
  packages/xflow-extension/package.json
  packages/xflow-extension/src/canvas-collapse-panel/constants.ts
  packages/xflow-extension/src/canvas-collapse-panel/index.tsx
  packages/xflow-extension/src/canvas-collapse-panel/interface.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-body/collapse.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-body/dnd-hook.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-body/index.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-body/panel-node.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-body/panel-search-list.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-footer.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-header.tsx
  packages/xflow-extension/src/canvas-collapse-panel/service.tsx
  packages/xflow-extension/src/canvas-collapse-panel/style/index.less
  packages/xflow-extension/src/canvas-collapse-panel/utils.tsx
  packages/xflow-extension/src/index.tsx
  packages/xflow/src/core/index.ts
  packages/xflow/src/extensions/index.ts
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/XXL, pkg:xflow-extension, pkg:docs

#49 fix api demo height issue
  packages/xflow-docs/docs/api/commands/graph/graph-layout/demos/index.less
  packages/xflow-docs/docs/api/commands/graph/graph-layout/demos/index.tsx
  packages/xflow-docs/docs/api/commands/graph/graph-meta/index.md
  packages/xflow-docs/docs/api/commands/graph/graph-render/demos/index.less
  packages/xflow-docs/docs/api/commands/graph/graph-render/demos/index.tsx
  packages/xflow-docs/docs/api/commands/graph/graph-zoom/demos/index.less
  packages/xflow-docs/docs/api/commands/graph/graph-zoom/demos/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-graph.tsx
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-extension, pkg:docs

#43 upgrade Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request_chinese.yml
Labels: PR: unreviewed, size/L

#46 chore: migrate to pnpm
  .eslintignore
  .gitignore
  .yarnrc.yml
  CONTRIBUTING.zh-CN.md
  README.MD
  examples/quick-start-cra/package.json
  examples/quick-start-umi/.gitignore
  examples/quick-start-umi/package.json
  lerna.json
  package.json
  packages/xflow-core/.gitignore
  packages/xflow-core/jest.config.js
  packages/xflow-core/package.json
  packages/xflow-core/tsconfig.json
  packages/xflow-docs/package.json
  packages/xflow-docs/yarn.lock
  packages/xflow-extension/.gitignore
  packages/xflow-extension/package.json
  packages/xflow-hook/.gitignore
  packages/xflow-hook/package.json
  packages/xflow/.gitignore
  packages/xflow/package.json
  pnpm-workspace.yaml
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/XXL, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#53 chore: update pnpm related scripts in package.json
  README.MD
  packages/xflow-core/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: chore, pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-hook, pkg:xflow-extension

#60 Chore/release
  .github/workflows/release.yml
  .gitignore
  examples/quick-start-cra/CHANGELOG.md
  examples/quick-start-cra/package.json
  examples/quick-start-umi/CHANGELOG.md
  examples/quick-start-umi/package.json
  package.json
  packages/xflow-core/CHANGELOG.md
  packages/xflow-core/package.json
  packages/xflow-core/src/command-contributions/edge/edge-add.ts
  packages/xflow-docs/CHANGELOG.md
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-docs/package.json
  packages/xflow-extension/CHANGELOG.md
  packages/xflow-extension/package.json
  packages/xflow-hook/CHANGELOG.md
  packages/xflow-hook/package.json
  packages/xflow/CHANGELOG.md
  packages/xflow/package.json
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, needs-more-info, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#63 Docs/dag connceting feature
  .github/workflows/deploy-docs.yml
  package.json
  packages/xflow-docs/.dumi/theme/builtins/Previewer.less
  packages/xflow-docs/.dumi/theme/builtins/Previewer.tsx
  packages/xflow-docs/.dumi/theme/constant.ts
  packages/xflow-docs/.dumi/theme/layout.bak.tsx
  packages/xflow-docs/.dumi/theme/layout.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/cmd-async-test.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/cmd-deploy.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/constants.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/index.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-dnd-panel.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-form.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-graph.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-keybinding.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-menu.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-model-service.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-toolbar.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/constant.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/form-controls/custom-editor.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/form-controls/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/form-controls/link.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/index.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/react-node/algo-node.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/react-node/algo-node.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/react-node/group.less
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/react-node/group.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/service.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/index.md
  packages/xflow-docs/package.json
  packages/xflow-extension/src/canvas-dag-extension/contributions/dag.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL, pkg:xflow-extension, pkg:docs

#54 feat(toolbar): Allow specifying React elements directly for toolbar icons
  packages/xflow-core/src/toolbar/interface.ts
  packages/xflow-docs/docs/tutorial/extension-components/canvas-toolbar/demos/toolbar-render-item/toolbar-config.tsx
  packages/xflow-docs/docs/tutorial/extension-components/canvas-toolbar/index.md
  packages/xflow-extension/src/canvas-toolbar/render-components/toolbar-item.tsx
Labels: chore, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-extension, pkg:docs

#64 fix: flow form control type error
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/select.tsx
Labels: bug, PR: unreviewed, size/S, pkg:xflow-extension

#47 fix: 修复 copy 时节点 id 丢失
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, size/S, pkg:docs

#65 By fix/destroy spelling
  .changeset/olive-ties-camp.md
  .changeset/soft-rules-shake.md
  .github/workflows/release.yml
  package.json
  packages/xflow-core/src/hooks/contributions/graph.ts
  packages/xflow-core/src/hooks/interface.ts
  packages/xflow-core/src/index.tsx
  packages/xflow-core/src/xflow-main/components/index.tsx
  packages/xflow-core/src/xflow-main/graph/graph-provider.tsx
  packages/xflow-core/src/xflow-main/index.tsx
  packages/xflow-docs/docs/api/hooks/index.md
  packages/xflow-docs/docs/api/interface/application.md
  packages/xflow-docs/docs/tutorial/advanced/hook/index.md
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow/src/core/index.ts
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:docs

#69 feat: support model options in add/del node/edge command Close#68
  .changeset/polite-stingrays-yawn.md
  packages/xflow-core/src/command-contributions/edge/edge-add.ts
  packages/xflow-core/src/command-contributions/edge/edge-del.ts
  packages/xflow-core/src/command-contributions/node/node-add.ts
  packages/xflow-core/src/command-contributions/node/node-del.ts
Labels: pkg:xflow-core, PR: unreviewed, size/M

#74 feat: support createNodeService and createEdgeService stop command execution Close#73
  .changeset/dry-gorillas-double.md
  packages/xflow-core/src/command-contributions/edge/edge-add.ts
  packages/xflow-core/src/command-contributions/node/node-add.ts
Labels: pkg:xflow-core, PR: unreviewed, size/M
