Repository antvis/XFlow, pull requests merged in 2022-04, with the labels that each got.

#221 feat: 支持自定义节点多面板
  packages/xflow-docs/docs/tutorial/solutions/flow/index.md
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/interface.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-body.tsx
  packages/xflow-extension/src/flowchart-node-panel/service.tsx
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR: unreviewed, needs-more-info, size/L, pkg:xflow-extension, pkg:docs

#228 fix: 修复全屏导致的GRAPH_SCALE无法更新
  .changeset/dirty-meals-check.md
  packages/xflow-extension/src/canvas-scale-toolbar/config.tsx
Labels: PR: unreviewed, size/S, pkg:xflow-extension

#232 fix cant add edge when use customLayOut
  .changeset/breezy-baboons-push.md
  packages/xflow-extension/src/canvas-dag-extension/contributions/dag.tsx
Labels: PR: unreviewed, size/M, pkg:xflow-extension, fix

#238 fix: 默认显示与搜索结果相反及type可选
  .changeset/chatty-rats-love.md
  packages/xflow-core/src/command-contributions/edge/edge-del.ts
  packages/xflow-extension/src/flowchart-node-panel/interface.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-body.tsx
Labels: pkg:xflow-core, PR: unreviewed, size/S, pkg:xflow-extension, fix

#239 fix: Type of source & target in edgeConfig
  .changeset/shy-phones-report.md
  packages/xflow-core/src/command-contributions/edge/edge-del.ts
Labels: pkg:xflow-core, PR: unreviewed, size/S

#219 fix: 修复 ts 错误
  packages/xflow-extension/src/canvas-json-schema-form/service.tsx
  packages/xflow-extension/src/flowchart-node-panel/group-panel/group.tsx
  packages/xflow-extension/src/index.tsx
  packages/xflow/src/extensions/index.ts
Labels: stale, PR(fix), pkg:xflow, PR: unreviewed, size/S, pkg:xflow-extension

#179 docs: fix typo
  README.md
  README.zh-CN.md
  packages/xflow-docs/docs/tutorial/getting-started/index.en-US.md
  packages/xflow-docs/docs/tutorial/getting-started/index.zh-CN.md
  packages/xflow-docs/docs/tutorial/getting-started/index.zh.md
Labels: stale, PR: unreviewed, size/S, pkg:docs

#224 fix: 修复 save hook 拼写
  packages/xflow-core/src/command-contributions/graph/graph-save-data.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/dynamic-ports/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/layout/config-cmd.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-cmd.ts
Labels: pkg:xflow-core, PR: unreviewed, needs-more-info, size/S, pkg:docs

#243 fix: 修复更新节点的旋转角度无效 (#242)
  packages/xflow-core/src/command-contributions/node/node-update.ts
Labels: pkg:xflow-core, PR: unreviewed, size/XS, fix

#246 fix: 修复自定义节点注册失败
  .changeset/giant-donkeys-look.md
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR(fix), PR: unreviewed, size/S, pkg:xflow-extension

#248 chore release version
  .changeset/little-queens-report.md
  .changeset/mighty-peaches-juggle.md
  packages/xflow-core/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, pkg:xflow-hook, size/S, pkg:xflow-extension

#245 chore: fix code spelling
  examples/quick-start-cra-js/src/xflow/basic/index.jsx
  examples/quick-start-cra-js/src/xflow/dag/cmd-extensions/cmd-rename-node-modal.jsx
  examples/quick-start-cra-js/src/xflow/dag/config-toolbar.js
  examples/quick-start-cra-js/src/xflow/flow/config-keybinding.js
  examples/quick-start-cra-js/src/xflow/flow/config-toolbar.js
  examples/quick-start-cra/src/xflow/index.tsx
  examples/quick-start-umi/src/pages/index.tsx
  packages/xflow-core/src/command-contributions/config.tsx
  packages/xflow-core/src/constants.ts
  packages/xflow-core/src/hooks/config.tsx
  packages/xflow-core/src/hooks/index.ts
  packages/xflow-core/src/hooks/interface.ts
  packages/xflow-core/src/index.tsx
  packages/xflow-core/src/interface.ts
  packages/xflow-core/src/menu/interface.ts
  packages/xflow-core/src/model-service/config.ts
  packages/xflow-core/src/xflow-main/components/app-extension-module.tsx
  packages/xflow-core/src/xflow-main/components/canvas.tsx
  packages/xflow-core/src/xflow-main/components/extension-registry.tsx
  packages/xflow-core/src/xflow-main/components/index.tsx
  packages/xflow-core/src/xflow-main/graph/config.ts
  packages/xflow-core/src/xflow-main/graph/graph-provider.tsx
  packages/xflow-core/src/xflow-main/index.tsx
  packages/xflow-docs/docs/api/commands/edges/edge-update/demos/index.tsx
  packages/xflow-docs/docs/api/interface/hook.md
  packages/xflow-docs/docs/api/interface/index.md
  packages/xflow-docs/docs/tutorial/getting-started/demo/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/basic/config-toolbar.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/dynamic-ports/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/dynamic-ports/config-toolbar.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/layout/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/layout/config-toolbar.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/cmd-extensions/cmd-rename-node-modal.tsx
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/port-config/config-toolbar.tsx
  packages/xflow-docs/docs/tutorial/solutions/er/demos/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/er/demos/service.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-menu.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-toolbar.ts
  packages/xflow-docs/tsconfig.json
  packages/xflow-extension/src/canvas-context-menu/index.tsx
  packages/xflow-extension/src/canvas-dag-extension/components/index.tsx
  packages/xflow-extension/src/canvas-mini-map/components/index.tsx
  packages/xflow-extension/src/canvas-node-port-tooltip/components/index.tsx
  packages/xflow-extension/src/canvas-snapline/components/index.tsx
  packages/xflow/src/core/index.ts
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension, pkg:docs
