Repository antvis/XFlow, pull requests merged in 2022-03, with the labels that each got.

#144 feat: 新增 canvas scale 全屏功能
  packages/xflow-core/src/command-contributions/constant.ts
  packages/xflow-core/src/command-contributions/graph/graph-fulllscreen.ts
  packages/xflow-core/src/command-contributions/graph/index.ts
  packages/xflow-core/src/model-service/constant.ts
  packages/xflow-core/src/model-service/contributions/graph-model.ts
  packages/xflow-core/src/xflow-main/components/extension-registry.tsx
  packages/xflow-core/src/xflow-main/components/index.tsx
  packages/xflow-core/src/xflow-main/graph/config.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-extension/src/canvas-scale-toolbar/config.tsx
  packages/xflow-extension/src/flowchart-canvas/interface.ts
Labels: PR(feature), pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension, pkg:docs

#150 feat: update x6 to 1.30.1
  packages/xflow-core/package.json
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow/package.json
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/S, pkg:xflow-extension, pkg:docs, fix

#155 fix: 修复新增边时节点关联边信息丢失
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-canvas/extension/contributions/flow.tsx
Labels: PR(fix), PR: unreviewed, size/M, pkg:xflow-extension

#148 fix: add vertices, router, connector, source, target update for edge …
  .changeset/tall-forks-call.md
  packages/xflow-core/src/command-contributions/edge/edge-update.ts
  packages/xflow-core/src/command-contributions/node/node-update.ts
Labels: pkg:xflow-core, PR: unreviewed, size/M, fix

#163 docs: add English README.md and CONTRIBUTING.md files
  CONTRIBUTING.md
  README.md
  README.zh-CN.md
  package.json
Labels: PR: unreviewed, size/L

#151 Feat/graph command
  packages/xflow-core/src/command-contributions/constant.ts
  packages/xflow-core/src/command-contributions/graph/graph-update.ts
  packages/xflow-core/src/command-contributions/graph/index.ts
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/canvas.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/constants.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/interface.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/style.less
Labels: PR(feature), pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension

#168 Feat/node pool
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/react-node/dnd-node.tsx
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/callout/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/card/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/collate/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/diagonal-snip-rectangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/fivesides/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/hexagon/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/index.ts
  packages/xflow-extension/src/flowchart-node-panel/paths/left-triangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/loop/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/message/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/reference/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/right-triangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/step/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR(feature), PR: unreviewed, size/L, pkg:xflow-extension, pkg:docs

#166 feat: 支持配置画布背景颜色和图片
  packages/xflow-core/src/command-contributions/graph/graph-update.ts
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/canvas.tsx
Labels: pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension

#169 Style/icon svg path
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/canvas.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/constants.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/dotted-line.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/double-arrow.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/left-arrow.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/right-arrow.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/solid-line.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/utils.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/constants.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/dotted-line.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/double-arrow.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/left-icon.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/right-icon.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-style/solid-icon.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/select.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-style.tsx
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
Labels: PR: unreviewed, size/L, pkg:xflow-extension

#171 feat: 新增节点字体样式配置
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node.tsx
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/gradient-component.tsx
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-body.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR: unreviewed, size/L, pkg:xflow-extension

#175 chore: upgrade mana-common version Close#114
  .changeset/little-pens-drum.md
  packages/xflow-core/package.json
Labels: pkg:xflow-core, PR: unreviewed, size/S

#173 fix: typo in node and edge command visible update
  .changeset/few-icons-draw.md
  packages/xflow-core/src/command-contributions/edge/edge-update.ts
  packages/xflow-core/src/command-contributions/node/node-update.ts
Labels: pkg:xflow-core, PR: unreviewed, size/S, fix

#183 feat: 完善 toolbar 功能
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-toolbar.ts
  packages/xflow-extension/src/canvas-toolbar/render-components/toolbar-item.tsx
Labels: PR(feature), PR: unreviewed, size/L, pkg:xflow-extension, pkg:docs

#172 Feat/group editor
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/constants.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edit-icon/dotted-line.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/select.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/group.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-arrange.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-style.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/form-schema-service/index.ts
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/group-panel/group.tsx
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR(feature), PR: unreviewed, size/L, pkg:xflow-extension

#189 feat: fix graphrender command can't update node
  .changeset/late-socks-sing.md
  packages/xflow-core/src/command-contributions/graph/graph-render.ts
  packages/xflow-docs/docs/tutorial/solutions/er/demos/index.less
Labels: pkg:xflow-core, PR: unreviewed, needs-more-info, size/S, pkg:docs

#190 chore: release verison
  .changeset/fluffy-files-refuse.md
Labels: PR: unreviewed, size/XS, PR(chore)

#192 fix: updateEdge when label is a own-property
  .changeset/green-ducks-carry.md
  packages/xflow-core/src/command-contributions/edge/edge-update.ts
Labels: pkg:xflow-core, PR: unreviewed, size/XS, fix

#182 Fix/node path
  packages/xflow-extension/src/canvas-node-tree-panel/interface.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/mix-editor.ts
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/interface.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/Isosceles-Trapezoid/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/callout/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/card/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/collate/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/delay/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/diagonal-snip-rectangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/ellipse/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/fivesides/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/hexagon/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/index.ts
  packages/xflow-extension/src/flowchart-node-panel/paths/left-trapezoid/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/left-triangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/loop/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/message/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/reference/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/right-trapezoid/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/right-triangle/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/step/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/trapezoid-left/index.tsx
Labels: PR(fix), PR: unreviewed, size/L, pkg:xflow-extension

#186 Multi select
  packages/xflow-extension/src/canvas-json-schema-form/interface.tsx
  packages/xflow-extension/src/canvas-json-schema-form/service.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/form-panel.tsx
  packages/xflow-extension/src/flowchart-editor-panel/form-schema-service/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/form-wrapper.tsx
  packages/xflow-extension/src/flowchart-editor-panel/interface.ts
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/group-panel/group.less
  packages/xflow-extension/src/flowchart-node-panel/group-panel/group.tsx
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
Labels: PR: unreviewed, size/L, pkg:xflow-extension

#196 fix: graph-render command order
  .changeset/wet-forks-raise.md
  packages/xflow-core/src/command-contributions/graph/graph-render.ts
Labels: pkg:xflow-core, PR: unreviewed, size/M, fix

#198 fix release issue
  .changeset/little-queens-report.md
  packages/xflow-core/package.json
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, size/S

#206 feat: 内置组件导出
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/index.ts
  packages/xflow-extension/src/index.tsx
Labels: PR(feature), PR: unreviewed, size/S, pkg:xflow-extension

#193 Feat/toolbar component
  packages/xflow-core/src/toolbar/interface.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-extension/src/canvas-toolbar/index.tsx
  packages/xflow-extension/src/canvas-toolbar/interface.tsx
  packages/xflow-extension/src/canvas-toolbar/render-components/index.tsx
  packages/xflow-extension/src/canvas-toolbar/render-components/toolbar-item.tsx
  packages/xflow-extension/src/canvas-toolbar/service.tsx
  packages/xflow-extension/src/flowchart-toolbar/index.tsx
  packages/xflow-extension/src/flowchart-toolbar/interface.tsx
  packages/xflow-extension/src/flowchart-toolbar/service.ts
  packages/xflow-extension/src/flowchart-toolbar/utils.tsx
  packages/xflow-extension/src/index.tsx
  packages/xflow/src/extensions/index.ts
Labels: PR(feature), pkg:xflow, size/XL, pkg:xflow-core, PR: unreviewed, pkg:xflow-extension, pkg:docs

#202 Feat/edge
  packages/xflow-extension/src/flowchart-canvas/extension/components/index.less
  packages/xflow-extension/src/flowchart-canvas/extension/contributions/flow.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/constants.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge-style.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-style.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/style.less
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/form-schema-service/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/form-wrapper.tsx
Labels: PR(feature), PR: unreviewed, size/L, pkg:xflow-extension

#209 fix: 修复全屏 bug
  packages/xflow-core/src/command-contributions/graph/graph-fulllscreen.ts
  packages/xflow-core/src/model-service/contributions/graph-model.ts
  packages/xflow-extension/src/canvas-node-tree-panel/panel-body.tsx
Labels: bug, PR(fix), pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-extension

#210 style: 删除无用测试代码
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/config-toolbar.ts
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-extension/src/flowchart-toolbar/utils.tsx
Labels: PR: unreviewed, needs-more-info, size/L, pkg:xflow-extension, pkg:docs

#208 Feat/canvas model
  .changeset/long-zebras-smoke.md
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-canvas/interface.ts
Labels: PR(feature), PR: unreviewed, size/S, pkg:xflow-extension

#212 fix: 流程图原子组件导出
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/position.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/size.tsx
  packages/xflow/src/extensions/index.ts
Labels: PR(fix), pkg:xflow, PR: unreviewed, size/S, pkg:xflow-extension

#214 feat: 调整左侧节点面板样式
  packages/xflow-docs/docs/tutorial/solutions/flow/demos/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-footer.tsx
  packages/xflow-extension/src/flowchart-node-panel/paths/card/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/style/index.less
Labels: PR(fix), PR: unreviewed, size/L, pkg:xflow-extension, pkg:docs

#216 feat: 完善右侧配置面板样式
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/canvas.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/edge-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/font-position.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/font-spacing.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/position.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/size.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/interface.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-arrange.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-edge-style.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-edge-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-style.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/node-text.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/style.less
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
Labels: PR(feature), size/XL, PR: unreviewed, pkg:xflow-extension

#215 feat: 支持保存流程图数据
  packages/xflow-core/src/command-contributions/graph/graph-save-data.ts
  packages/xflow-extension/src/flowchart-node-panel/index.tsx
  packages/xflow-extension/src/flowchart-node-panel/interface.tsx
  packages/xflow-extension/src/flowchart-node-panel/node-components.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-footer.tsx
  packages/xflow-extension/src/flowchart-toolbar/utils.tsx
Labels: PR(feature), pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-extension
