Repository antvis/XFlow, pull requests merged in 2022-10, with the labels that each got.

#321 chore: fix build error
  package.json
  packages/xflow-core/package.json
  packages/xflow-extension/package.json
  packages/xflow/package.json
Labels: bug, pkg:xflow, pkg:xflow-core, PR: unreviewed, size/S, pkg:xflow-extension

#320 docs: targetPortId comment
  packages/xflow-core/src/interface.ts
  packages/xflow-docs/docs/api/interface/index.md
Labels: stale, pkg:xflow-core, PR: unreviewed, size/XS, pkg:docs, fix

#323 fix: copy edge cannot find portid CLOSE:#322
  .changeset/thirty-owls-rest.md
  packages/xflow-core/src/command-contributions/mapping-service.ts
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, size/S
