Repository antvis/XFlow, pull requests merged in 2022-02, with the labels that each got.

#123 Fix: JsonSchemaForm type error
  .changeset/sour-carpets-cheat.md
  examples/quick-start-cra/package.json
  examples/quick-start-cra/src/index.less
  examples/quick-start-cra/src/index.tsx
  examples/quick-start-cra/tsconfig.json
  examples/quick-start-umi/package.json
  examples/quick-start-umi/src/pages/index.tsx
  packages/xflow-core/package.json
  packages/xflow-docs/docs/tutorial/extension-components/canvas-config-form/demos/custom-render/index.tsx
  packages/xflow-extension/src/canvas-json-schema-form/interface.tsx
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, needs-more-info, size/M, pkg:xflow-extension, pkg:docs

#125 Fix/xflow style issue
  .changeset/six-cameras-hear.md
  packages/xflow-core/src/xflow-main/components/index.tsx
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, size/S

#127 feat: enable importHelpers compile option
  .changeset/violet-camels-juggle.md
  tsconfig.json
Labels: PR(fix), PR: unreviewed, size/XS, help-wanted

#138 feat: 类型&组件导出
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/color.tsx
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/components/fields/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/control-map-service/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/index.ts
  packages/xflow-extension/src/flowchart-editor-panel/interface.ts
Labels: PR(feature), PR: unreviewed, size/S, pkg:xflow-extension

#135 dndPanel add collapseBtn & update sharp version
  .changeset/moody-ghosts-worry.md
  package.json
  packages/xflow-core/src/hooks/contributions/graph.ts
  packages/xflow-core/src/hooks/interface.ts
  packages/xflow-core/src/xflow-main/graph/graph-provider.tsx
  packages/xflow-extension/src/canvas-collapse-panel/index.tsx
  packages/xflow-extension/src/canvas-collapse-panel/interface.tsx
  packages/xflow-extension/src/canvas-collapse-panel/panel-collapse-btn.tsx
  packages/xflow-extension/src/canvas-collapse-panel/service.tsx
Labels: pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension

#131 Update index.zh.md
  packages/xflow-docs/docs/tutorial/getting-started/index.zh.md
Labels: PR: unreviewed, size/XS, pkg:docs

#129 Update index.zh.md fix some typo
  packages/xflow-docs/docs/tutorial/getting-started/index.zh.md
Labels: PR: unreviewed, size/XS, pkg:docs

#146 feat: 优化节点配置面板
  packages/xflow-extension/src/flowchart-node-panel/constants.ts
Labels: PR(feature), size/XL, PR: unreviewed, needs-more-info, pkg:xflow-extension, pkg:docs
