Repository antvis/XFlow, pull requests merged in 2022-05, with the labels that each got.

#257 fix: add render graph options to avoid dupilcated port
  .changeset/selfish-papayas-agree.md
  packages/xflow-core/src/command-contributions/graph/graph-render.ts
  packages/xflow-docs/docs/tutorial/solutions/dag/demos/dynamic-ports/config-graph.tsx
Labels: PR(fix), pkg:xflow-core, PR: unreviewed, size/S, pkg:docs

#259 chore: release version
  .changeset/chatty-years-rule.md
  .changeset/few-oranges-obey.md
Labels: PR(fix), PR: unreviewed, size/XS

#262 chore: release versions
  .changeset/chatty-years-rule.md
  .changeset/few-oranges-obey.md
  .changeset/quick-shrimps-listen.md
  .changeset/tasty-flies-rhyme.md
  examples/quick-start-cra-js/CHANGELOG.md
  examples/quick-start-cra-js/package.json
  examples/quick-start-cra/CHANGELOG.md
  examples/quick-start-cra/package.json
  examples/quick-start-umi/CHANGELOG.md
  examples/quick-start-umi/package.json
  package.json
  packages/xflow-core/CHANGELOG.md
  packages/xflow-core/package.json
  packages/xflow-core/src/antd-icons/index.tsx
  packages/xflow-core/src/command-contributions/edge/edge-update.ts
  packages/xflow-docs/CHANGELOG.md
  packages/xflow-docs/package.json
  packages/xflow-extension/CHANGELOG.md
  packages/xflow-extension/package.json
  packages/xflow-hook/CHANGELOG.md
  packages/xflow-hook/package.json
  packages/xflow/CHANGELOG.md
  packages/xflow/package.json
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, needs-more-info, size/L, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#263 chore: release version
  .changeset/fuzzy-trains-wink.md
  packages/xflow-core/src/antd-icons/index.tsx
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#264 chore: release version
  .changeset/fuzzy-trains-wink.md
  .changeset/quick-shrimps-listen.md
  packages/xflow-core/src/interface.ts
  packages/xflow-core/src/menu/interface.ts
  packages/xflow-core/src/toolbar/interface.ts
  packages/xflow-extension/package.json
  packages/xflow-extension/src/canvas-collapse-panel/service.tsx
  packages/xflow-extension/src/canvas-context-menu/components/menu.tsx
  packages/xflow-extension/src/canvas-json-schema-form/service.tsx
  packages/xflow-extension/src/flowchart-node-panel/service.tsx
  packages/xflow-extension/src/flowchart-node-panel/utils.tsx
Labels: PR(fix), pkg:xflow, pkg:xflow-core, PR: unreviewed, size/M, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#266 fix: 修复更新节点命令(UpdateNode command)中对旋转角度的处理，导致角度不正确的问题 (#265)
  .changeset/cool-queens-applaud.md
  packages/xflow-core/src/command-contributions/node/node-update.ts
Labels: pkg:xflow-core, PR: unreviewed, size/S, fix
