Repository antvis/XFlow, pull requests merged in 2022-01, with the labels that each got.

#89 fix: in addition to support set any key in graph meta including 'flowId'
  .changeset/emighty-sloths-do.md
  packages/xflow-core/src/command-contributions/graph/graph-meta.ts
Labels: pkg:xflow-core, PR: unreviewed, size/XS

#97 feat: 新增 useConfig 配置
  .changeset/cuddly-foxes-dream.md
  packages/xflow-core/src/index.tsx
  packages/xflow-core/src/xflow-main/index.tsx
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-canvas/interface.ts
Labels: PR(feature), pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-extension

#100 fix: update nodeConfig after upate node ports
  .changeset/serious-rocks-walk.md
  package.json
  packages/xflow-core/package.json
  packages/xflow-core/src/command-contributions/node/node-update-port.ts
  packages/xflow-core/src/command-contributions/node/node-update.ts
  packages/xflow-docs/package.json
  packages/xflow-extension/package.json
  packages/xflow-hook/package.json
  packages/xflow/package.json
Labels: pkg:xflow, pkg:xflow-core, PR: unreviewed, size/L, pkg:xflow-hook, pkg:xflow-extension, pkg:docs

#105 fix: addEdgeService is called more than once
  .changeset/lemon-turtles-boil.md
  packages/xflow-extension/src/canvas-dag-extension/contributions/dag.tsx
  packages/xflow-extension/src/flowchart-canvas/config-graph.tsx
  packages/xflow-extension/src/flowchart-canvas/interface.ts
Labels: PR: unreviewed, size/M, pkg:xflow-extension

#108 fix: node update command error
  .changeset/fast-buckets-push.md
  packages/xflow-core/src/command-contributions/node/node-update.ts
Labels: bug, pkg:xflow-core, PR: unreviewed, size/S
