Repository antvis/XFlow, pull requests merged in 2023-01, with the labels that each got.

#333 fix: 修复流程图在react 18下卡死的问题
  packages/xflow-extension/src/canvas-dag-extension/module.ts
  packages/xflow-extension/src/canvas-node-tree-panel/panel-body.tsx
  packages/xflow-extension/src/flowchart-node-panel/panel-body.tsx
Labels: stale, PR: unreviewed, size/S, pkg:xflow-extension

#337 Update index.md
  packages/xflow-docs/docs/api/commands/nodes/node-delete/index.md
Labels: stale, PR: unreviewed, size/XS, pkg:docs

#346 chore: 版本发布
  .changeset/strong-steaks-relax.md
Labels: PR: unreviewed, needs-more-info, size/XS
